# Lecture 6 HW

### Problem 1

In [1]:
3 * 8

24

In [2]:
(33 + 7) / 5

8.0

### Problem 2

In [5]:
type(1+2)

int

In [6]:
type(1+2.)

float

(1+2) outputs an int and (1+2.) outputs a float. This is because the decimal point in 1+2. makes it a floating point number which cannot be in an int data type.

### Problem 3

In [7]:
for n in range(1, 6):
    print(n**2)

1
4
9
16
25

### Problem 4

In [8]:
i = 1

while i**2 < 1000:
    print(i ** 2)

    i += 1

print(i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
32

At i = 32, i**2 is 1024, which is greater than 1000 so the loop stops. This means the final number is 32.