# Lecture 7 HW
#### Nareg Panossian

## Problem 1
How do you define a list in Python?

You define a list using square brackets in Python.

In [1]:
my_list = [1, 2 , 3, 4, 5]

## Problem 2
How do you access the third element of a Python list named my_list?

In [2]:
my_list[2]

3

## Problem 3
How can you add the element "new_item" to the end of an existing list named my_list?

In [8]:
my_list.append('new_item')

## Problem 4
How do you create a Python tuple with the items "apple", "banana", and "cherry"?

In [9]:
my_tuple = ('apple', 'banana', 'cherry')

## Problem 5
How do you access the first element of a Python tuple named my_tuple?

In [11]:
my_tuple[0]

'apple'

## Problem 6
How do you define a dictionary in Python with keys "name", "age" and values "John Doe", 30?

In [13]:
my_dict = {'name': 'John Doe', 'age': 30}

## Problem 7
How can you retrieve the value for the key "name" from the dictionary my_dict?

In [15]:
my_dict['name']

'John Doe'

## Problem 8
How can you change the value associated with the key "age" in the dictionary my_dict to 35?

In [16]:
my_dict["age"] = 35

## Problem 9
How can you add a new key-value pair "city":"New York" to the dictionary my_dict?

In [18]:
my_dict.update({'city':'New York'})

## Problem 10
How do you create a set in Python with the items "apple", "banana", and "cherry"?

In [17]:
my_set = {'apple', 'banana', 'cherry'}

# Problem 11
How do you add the item "orange" to an existing set my_set?

In [19]:
my_set.add('orange')

## Problem 12
How do you remove the item "banana" from the set my_set?

In [20]:
my_set.remove('banana')

## Problem 13
What is the length of a list my_list with elements [1, 2, 3, 4, 5]?

In [21]:
my_list = [1, 2, 3, 4, 5]
len(my_list)

5

## Problem 14
What will be the result of my_list * 2 if my_list is [1, 2, 3]?

In [22]:
my_list = [1, 2, 3]
my_list * 2

[1, 2, 3, 1, 2, 3]

## Problem 15
What is the result of set([1,2,2,3,4,4,4,5,5])?

In [23]:
set([1,2,2,3,4,4,4,5,5])

{1, 2, 3, 4, 5}