## Lecture 9 Homework
### Nareg Panossian
----

#### Problem 1
*How do you import the pandas package in Python?*

In [2]:
import pandas as pd

----

#### Problem 2
*What function do you use to read a CSV file in pandas?*

In [ ]:
df = pd.read_csv('data.csv')

----

#### Problem 3
*How do you display the first 5 rows of a DataFrame in pandas?*

In [ ]:
df.head()

----

#### Problem 4
*How do you calculate the mean of a column named Age in a DataFrame named df?*

In [ ]:
df['Age'].mean()

----

#### Problem 5
*How do you calculate the median of a column named Salary in a DataFrame named df?*

In [ ]:
df['Salary'].median()

----

#### Problem 6
*How do you calculate the standard deviation of a column named Score in a DataFrame named df?*

In [ ]:
df['Score'].std()

----

#### Problem 7
*How do you find the number of missing values in each column of a DataFrame named df?*

In [ ]:
df.isna().sum()

----

#### Problem 8
*How do you calculate the correlation between two columns, Age and Salary, in a DataFrame named df?*

In [ ]:
df['Age'].corr(df['Salary'])

----

#### Problem 9
*How do you select a subset of a DataFrame df where the column Age is greater than 30?*

In [ ]:
df[df['Age'] > 30]

----

#### Problem 10
*How do you calculate the range (maximum - minimum) of a column named Score in a DataFrame named df?*

In [ ]:
df['Score'].max() - df['Score'].min()

----

#### Problem 11
*How do you group a DataFrame df by a column named Department and calculate the mean of Salary within each group?*

In [ ]:
df.groupby('Department')['Salary'].mean()

----

#### Problem 12
*How do you group a DataFrame df by two columns, Department and Job Title, and count the number of rows within each group?*

In [ ]:
df.groupby(['Department', 'Job Title']).size()

----

#### Problem 13
*How do you use the groupby method to find the maximum Age in each Department in a DataFrame df?*

In [ ]:
df.groupby('Department')['Age'].max()

----

#### Problem 14
*How do you create a cross-tabulation table that shows the frequency count of Department (rows) and Job Title (columns) in a DataFrame df?*

In [ ]:
pd.crosstab(df['Department'], df['Job Title'])

----

#### Problem 15
*How do you create a cross-tabulation table that shows the mean Salary for each combination of Department (rows) and Job Title (columns) in a DataFrame df?*

pd.crosstab(df['Department'], df['Job Title'], values=df['Salary'], aggfunc='mean')